*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: helvetica;

}

body {
    background-color: #95a5b4;
    margin: 0 auto;
    padding: 1%
}

.title {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Fredoka One', cursive;
}

.collectionCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
    border: 20px;
    
}

.eachCharacter {
    font-family: 'Didact Gothic', sans-serif;
    width: 33.3%;
    text-align: center;
    background-color:#ebc163;
    padding: 2%;
    border-radius: 5%;
    border: 5px solid black;
    margin: 2%;
}

.charName {
    font-size: 2.2rem;
    font-weight: bold;
}

.cardContent {
    font-size: 1.3rem;

}